.container--header .navbutton__item--free, .container--footer .navbutton__item--free, .hero__button, .usecases__link, .prices__item {
  border: 1px solid transparent;
  border-radius: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.container--header .navbutton__item--free, .container--footer .navbutton__item--free, .hero__button, .usecases__link {
  min-width: 152px;
  padding: 10px 33px;
}

.container--hero, .container--usecases {
  padding-top: 53px;
  padding-bottom: 49px;
}

h2,
h3,
p,
h1,
a,
b,
ul,
div {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.53em;
  letter-spacing: normal;
  color: #9A9AAB;
  background-color: #12131A;
}

.container {
  width: calc(100% - 48px);
  max-width: 1200px;
  margin: 0 auto 0;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 1440px) {
  .container {
    width: calc(100% - 240px);
    padding-left: 120px;
    padding-right: 120px;
  }
}

.container--header, .container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.container--header .navbutton__list, .container--footer .navbutton__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container--header .navbutton__item, .container--footer .navbutton__item {
  display: block;
  color: #9A9AAB;
}

.container--header .navbutton__item--free, .container--footer .navbutton__item--free {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#794AFF), to(#642EFF));
  background-image: linear-gradient(180deg, #794AFF 0%, #642EFF 100%);
  color: #ffff;
  margin-left: 10px;
  max-height: 48px;
}

@media screen and (max-width: 400px) {
  .container--header .navbutton__item--free, .container--footer .navbutton__item--free {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .container--header .navbutton__item--free, .container--footer .navbutton__item--free {
    min-width: 80px;
    padding: 5px 7px;
  }
}

.container--header .navbutton__item--color, .container--footer .navbutton__item--color {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41C0FA), to(#0EA3E8));
  background-image: linear-gradient(180deg, #41C0FA 0%, #0EA3E8 100%);
}

@media screen and (max-width: 500px) {
  .container--header, .container--footer {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    margin-right: 5px;
  }
}

.container--hero {
  text-align: center;
}

.hero__title {
  color: #ffff;
  font-size: 30px;
  line-height: 1.25em;
  margin-bottom: 17px;
}

.hero__title--accentparty {
  background: radial-gradient(40.52% 94.86% at 85.37% -3.86%, #FF9431 0%, rgba(148, 99, 255, 0) 100%), linear-gradient(94.38deg, #17C7FF 4.5%, #FF4DED 91.01%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero__describtion {
  font-size: 1.1em;
  line-height: 1.56em;
  margin-bottom: 30px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__link {
  color: #ffff;
}

.hero__button {
  display: block;
  font-size: 15px;
  background: #474A5A;
}

.hero__button--calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__button--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#794AFF), to(#642EFF));
  background-image: linear-gradient(180deg, #794AFF 0%, #642EFF 100%);
}

@media screen and (max-width: 500px) {
  .hero__button--arrow {
    display: none;
  }
}

.hero__button .arrowicon {
  margin-left: 10px;
}

.hero__button .calendar {
  margin-right: 7px;
}

@media screen and (max-width: 500px) {
  .hero__button {
    min-width: 80px;
    padding: 12px 24px;
  }
}

.container--usecases {
  padding-top: 15px;
}

.usecases__title {
  color: #ffff;
  font-size: 25px;
  line-height: 1.25em;
  margin-bottom: 17px;
}

.usecases__title .colorize {
  color: #FBCC43;
}

.usecases__description {
  font-size: 1.1em;
  line-height: 1.56em;
  margin-bottom: 30px;
}

.usecases__link {
  display: inline-block;
  font-size: 1em;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FBCC43), to(#F0BD28));
  background-image: linear-gradient(180deg, #FBCC43 0%, #F0BD28 100%);
  margin-bottom: 36px;
}

@media screen and (max-width: 500px) {
  .usecases__link {
    min-width: 80px;
    padding: 12px 24px;
  }
}

.usecases__image {
  border-radius: 13.63px;
  margin-bottom: 19px;
}

.usecases--card {
  background: -webkit-gradient(linear, left top, left bottom, from(#474A5A), to(#343645));
  background: linear-gradient(to bottom, #474A5A 0%, #343645 100%);
  padding: 11px 10px 34px;
  border-radius: 13.63px;
}

.usecases--card .card__title {
  color: #ffff;
  font-size: 1.5em;
  margin-bottom: 11px;
}

.usecases--card .card__description {
  line-height: 1.53em;
  color: #CDCDDB;
}

.container--features {
  padding-top: 15px;
  padding-bottom: 20px;
}

.features__title {
  color: #fff;
  font-size: 25px;
  line-height: 1.25em;
  margin-bottom: 17px;
}

.features__title .accentfeatures {
  color: #47B983;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.features__description {
  font-size: 1.1em;
  line-height: 1.56em;
  margin-bottom: 30px;
}

.features__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item__pairs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item .itemtitle {
  color: #fff;
  font-size: 20px;
  line-height: 1.25em;
}

.features__item .itemdescribe {
  font-size: 15px;
  line-height: 1.56em;
  margin-bottom: 30px;
  margin-top: 10px;
}

.features__imageblock {
  min-width: 54px;
  min-height: 54px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.features__imageblock img {
  width: 50px;
  height: 50px;
}

.features__imageblock.customize {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD867), to(#FBCC43));
  background-image: linear-gradient(180deg, #FFD867 0%, #FBCC43 100%);
  -webkit-box-shadow: inset 0px 4px 4px #FFE7A2, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #FFE7A2, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.volume {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8155FF), to(#642EFF));
  background-image: linear-gradient(180deg, #8155FF 0%, #642EFF 100%);
  -webkit-box-shadow: inset 0px 4px 4px #9570FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #9570FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.chat {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3CBDF8), to(#0C9FE2));
  background-image: linear-gradient(180deg, #3CBDF8 0%, #0C9FE2 100%);
  -webkit-box-shadow: inset 0px 4px 4px #70D2FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #70D2FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.tribune {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5DCC97), to(#28B070));
  background-image: linear-gradient(180deg, #5DCC97 0%, #28B070 100%);
  -webkit-box-shadow: inset 0px 4px 4px #6CE7AC, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #6CE7AC, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9255), to(#FF922E));
  background-image: linear-gradient(180deg, #FF9255 0%, #FF922E 100%);
  -webkit-box-shadow: inset 0px 4px 4px #FFB58A, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #FFB58A, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.interactiv {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF5588), to(#FF2E53));
  background-image: linear-gradient(180deg, #FF5588 0%, #FF2E53 100%);
  -webkit-box-shadow: inset 0px 4px 4px #FF96B4, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #FF96B4, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.document {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8155FF), to(#642EFF));
  background-image: linear-gradient(180deg, #8155FF 0%, #642EFF 100%);
  -webkit-box-shadow: inset 0px 4px 4px #9570FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #9570FF, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.network {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5DCC97), to(#28B070));
  background-image: linear-gradient(180deg, #5DCC97 0%, #28B070 100%);
  -webkit-box-shadow: inset 0px 4px 4px #6CE7AC, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #6CE7AC, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.features__imageblock.reaction {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFD867), to(#FBCC43));
  background-image: linear-gradient(180deg, #FFD867 0%, #FBCC43 100%);
  -webkit-box-shadow: inset 0px 4px 4px #FFE7A2, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px #FFE7A2, inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .features__icon--right, .features__icon--left {
    display: none;
  }
}

.container--prices {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-24.61%, #474A5A), color-stop(75.39%, #343645));
  background-image: linear-gradient(180deg, #474A5A -24.61%, #343645 75.39%);
  border-radius: 32px;
  padding: 50px 20px 40px;
  margin-top: 22px;
  margin-bottom: 30px;
}

.container--prices .description {
  color: #CDCDDB;
  font-size: 1.1em;
  line-height: 1.56em;
  margin-bottom: 30px;
}

.container--prices .description .priceaccent {
  color: #fff;
  font-weight: bold;
}

.prices__title {
  color: #fff;
  font-size: 25px;
  line-height: 1.25em;
  margin-bottom: 17px;
}

.prices__title .titleaccent {
  color: #41C0FA;
}

.prices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prices__item {
  background-color: #474A5A;
  display: block;
  padding: 10px 10px;
  font-size: 15px;
}

.prices__item--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#41C0FA), to(#0EA3E8));
  background-image: linear-gradient(180deg, #41C0FA 0%, #0EA3E8 100%);
}

@media screen and (max-width: 500px) {
  .prices__item--arrow {
    display: none;
  }
}

.prices__link {
  display: block;
  color: #ffff;
}
/*# sourceMappingURL=main.css.map */