%button {
    border: 1px solid transparent;
    border-radius: 40px;
    overflow: visible;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
}

%menu-button {
    min-width: 152px;
    padding: 10px 33px;
}

%section-padding-mobile {
    padding-top: 53px;
    padding-bottom: 49px;
}