$main-text-color: #9A9AAB;
$main-header-color: #ffff;
$second-header-color: #FBCC43;
$photo-text-color: #CDCDDB;
$detail-color: #47B983;
$detail-second-color: #41C0FA;
$button-price-color: #474A5A;
$free-button-color: #794AFF;

$font-family: 'Inter', sans-serif;

$mobile: 375px;
$pre-mobile: $mobile - 1px;
$post-mobile: $mobile + 1px;